%h2 Resend confirmation instructions
.row
  .col-lg-7
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .field.form-group
        = f.label :email
        = f.email_field :email, autofocus: true, required: "required", class: 'form-control'
      .actions
        = f.submit "Resend confirmation instructions", class: 'btn btn-primary'
= render "devise/shared/links"