A new member waiting for approval:\r\n
+ + +\r\n
= @member.first_name
\r\n
= @member.last_name
\r\n
= @member.organisation
\r\n
\r\n
= @member.email
\r\n
= @member.link
\r\n
+ + +\r\n
Please review, to activate their account:\r\n
= members_url(approved: 'false')
\r\n
