- content_for :title, "Contact the Language of Color AIC Study Group"
%h1 Contact

%p
  %strong Language of Color
  %br
  29 Storey Road
  %br
  London E17 7DA
  %br
  United Kingdom

%p= link_to 'language-of-color@aic-color.org', 'mailto:language-of-color@aic-color.org,'

%hr
%h4 Drop us a line
= form_for @contact_form do |f|
  - if @contact_form.errors.any?
    #error_explanation
      %h4= "#{pluralize(@contact_form.errors.count, "error")} prohibited this message from being sent:"
      %ul
        - @contact_form.errors.full_messages.each do |msg|
          %li= msg
  .field.form-group
    = f.label :name
    = f.text_field :name, {class: 'form-control', required: "required"}
  .field.form-group.hidden
    = f.label :nickname
    = f.text_field :nickname, {class: 'form-control'}
  .field.form-group
    = f.label :email
    = f.email_field :email, {class: 'form-control', required: "required"}
  .field.form-group
    = f.label :message
    = f.text_area :message, {class: 'form-control', rows: 5}
  .field.form-group
    = f.check_box :subscribe_to_mailing_list, {}, 'yes', 'no'
    = f.label :subscribe_to_mailing_list
  .actions
    = f.submit 'Send', {class: 'btn btn-primary'}
