%h2 News

%h3 Open Invitation
%p.small
  = "Posted on #{Date.new(2015, 02, 12).strftime('%F')}"
%p We are in the process of redefining the scope of the study group you are invited to come up with new ideas to improve our existing purpose:

%p
  %i “The purpose of this study group (LC) is to discuss and share information on the studies about the fields such as linguistics, semiotics, cognitive science and other topics including color naming and categorisation, colored synaesthesia, semantic studies on color, colour grammar and syntax which are key to this study group.”
  %br
  %span.small
    = link_to 'source', 'http://www.aiclc.ac/', target: '_blank'

%p We also welcome suggestions on activities that SGLC can engage with and support.

%p To join the conversation, you have to register as a member in the provided form. The dialogue will start in group emails and will be elaborated at the AIC 2015 meeting in Tokyo.
%hr
%h3 New Chairman and Co-Chairwoman
%p.small
  = "Posted on #{Date.new(2015,02,11).strftime('%F')}"

%p Dimitris Mylonas has been appointed as the new Chairman of the Study Group Language of Colour of the International Colour Association. He replaces Prof Jinsook Lee who is stepping down to take over the responsibilities of Chair of the Organising Committee of the AIC 2017 Congress in Korea. Prof Galina Paramei has been named as the new Co-Chairwoman of the study group.

%p
  %i “It has been a pleasure being members of the group under her Chairmanship and we thank her and Prof Paul Green Armytage for their efforts and wish every success in their future undertakings.”

%p Dimitris Mylonas and Galina Paramei bring extensive research expertise in the cognitive aspects of colour and administration skills of public engagement events to Study Group Language of Colour. #{ link_to 'Read more', '/about'}

%p
  %i “We are delighted to be joining the Study Group Language of Colour. Our vision is to develop and maintain an international interdisciplinary network of researchers with an interest in the relationship between colour and language and to engage the public with the current progress in this area of research. We look forward in contributing to the advancement of the International Colour Association.”
%hr

= image_tag('news/color-lego.jpg', class: 'img-responsive', alt: 'Color Impact image by James zhan - www.flickr.com/photos/pirate_cat')

%h3 Welcome to our new website
%p.small
  = "Posted on #{Date.new(2015, 02, 10).strftime('%F')}"
%p We are delighted to introduce you to our new website that we feel better reflects our study group today.

%p We hope you will enjoy surfing on our pages and that the improved navigation will allow you to find the information you need more quickly and easily.

%p This is where we plan to share our thoughts and resources on the current developments of the colour and language related areas of research. You can register as a member using the provided form.

%p We will continue updating the website with useful information for our members and the general public and  and adding new functionalities along the way.

%p Please #{ link_to 'contact us', '/contact'} to let us know what you think of our new website - all comments and feedback are welcome.


