= form_for(@news_item, multipart: true) do |f|
  - if @news_item.errors.any?
    #error_explanation.alert.alert-danger
      %h2= "#{pluralize(@news_item.errors.count, "error")} prohibited this news_item from being saved:"
      %ul
        - @news_item.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :title
    = f.text_field :title, {class: 'form-control'}
  .field.form-group
    = f.label :content
    = f.text_area :content, {class: 'form-control', rows: 8}
    %p.help-block
      You can use
      = link_to 'Markdown', 'https://help.github.com/articles/markdown-basics/', {target: '_blank'}
      syntax
  .field.form-group
    = f.label :article_image
    = f.file_field :article_image
    %p.help-block Optimal image size: 940px by 705px
  .field.form-group
    = f.label :image_caption
    = f.text_field :image_caption, {class: 'form-control'}
  .field.form-group
    = f.label :published_at
    %br
    = f.datetime_select :published_at
  .checkbox
    %label
      = f.check_box 'published'
      Published
  .actions
    = f.submit 'Save', {class: 'btn btn-primary'}
