- if news_item.article_image.present?
  = image_tag(news_item.article_image.url(:large), class: 'img-responsive', alt: news_item.image_caption)
  - if news_item.image_caption.present?
    %p
      %small
        %i
          = news_item.image_caption
%h1= news_item.title
%p.small
  = news_item.published ? "Posted on #{news_item.published_at.strftime('%F')}" : "Not published"
= markup(news_item.content)
%p.small
  - if is_index
    = link_to 'Show', news_item
    \|
    = link_to 'Edit', edit_news_item_path(news_item)
    \|
    = link_to 'Destroy', news_item, :method => :delete, :data => { :confirm => 'Are you sure?' }
  - else
    = link_to 'Edit', edit_news_item_path(news_item)
    \|
    = link_to 'All news items', news_items_path
%hr
