%h1 Listing resources

%table
  %thead
    %tr
      %th Title
      %th Published at
      %th Published
      %th Public download
      %th Author
      %th Summary
      %th License
      %th
      %th
      %th

  %tbody
    - @resources.each do |resource|
      %tr
        %td= resource.title
        %td= resource.published_at
        %td= resource.published
        %td= resource.public_download
        %td= resource.author
        %td= resource.summary
        %td= resource.license
        %td= link_to 'Show', resource
        %td= link_to 'Edit', edit_resource_path(resource)
        %td= link_to 'Destroy', resource, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Resource', new_resource_path
