%p#notice= notice

%p
  %b Title:
  = @resource.title
%p
  %b Published at:
  = @resource.published_at
%p
  %b Published:
  = @resource.published
%p
  %b Public download:
  = @resource.public_download
%p
  %b Author:
  = @resource.author
%p
  %b Summary:
  = @resource.summary
%p
  = link_to "Download", download_resource_path(@resource)
%p
  = link_to "Public Download", @resource.file.url
%p
  %b License:
  = @resource.license

= link_to 'Edit', edit_resource_path(@resource)
\|
= link_to 'Back', resources_path
