%h1= @resource.title
%p
  %b Published at:
  = @resource.published_at.strftime('%F')
= markup('**Author(s):** ' + @resource.author)
= markup(@resource.summary)
%p
  - if !@resource.public_download || !current_member.present?
    = link_to "Download", download_resource_path(@resource)
  - else
    %em Download available to members only
= markup('**License:** ' + @resource.summary)

- if current_member.try(:is_admin?)
  = link_to 'Edit', edit_resource_path(@resource), {class: 'btn btn-primary'}
= link_to 'View all resources', resources_path, {class: 'btn btn-default'}
