!!!
%html{:lang => "en"}
  %head
    = render partial: 'shared/head'
  %body.home
    = render partial: 'shared/navigation'
    %header
      .container
        %h1
          Language of Color
          %br
          %span.small a study group of the AIC
    .container
      .row
        .col-lg-8.main-content-area
          = bootstrap_flash
          = yield
        .col-lg-4
          =render partial: 'shared/side_panel'

      = render partial: 'shared/footer'
