= form_for @member do |f|
  - if @member.errors.any?
    #error_explanation
      %h2= "#{pluralize(@member.errors.count, "error")} prohibited this member from being saved:"
      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :first_name
    = f.text_field :first_name, {class: 'form-control'}
  .field.form-group
    = f.label :last_name
    = f.text_field :last_name, {class: 'form-control'}
  .field.form-group
    = f.label :title
    = f.text_field :title, {class: 'form-control'}
  .field.form-group
    = f.label :country_of_residence
    = f.text_field :country_of_residence, {class: 'form-control'}
  .field.form-group
    = f.label :job_title
    = f.text_field :job_title, {class: 'form-control'}
  .field.form-group
    = f.label :organisation
    = f.text_field :organisation, {class: 'form-control'}
  .field.form-group
    = f.label :link
    = f.text_field :link, {class: 'form-control'}
  .field.form-group
    = f.label :email
    = f.email_field :email, {class: 'form-control', required: "required"}
  .actions
    = f.submit 'Save', {class: 'btn btn-primary'}
